@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:700);

.submit-food-form {
  margin-top: 30px;
  margin-bottom: 40px;
}
.submit-food-form .input-block {
  font-family: "Questrial", "Helvetica Neue", Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: auto;
  padding: 25px;
  position: relative;
  margin-bottom: 20px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.FormGroup {
  font-family: "Questrial", "Helvetica Neue", Arial, sans-serif;
  height: 50px;
  padding: 25px;
  box-sizing: border-box;
}

.FormGroup {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
}

.submit-food-form .input-block.focus {
  background-color: #fff;
}
.submit-food-form .input-block.textarea {
  font-family: "Questrial", "Helvetica Neue", Arial, sans-serif;
  height: auto;
  box-sizing: border-box;
}
.submit-food-form .input-block.textarea .form-control {
  height: auto;
  resize: none;
  box-sizing: border-box;
}

.App {
  text-align: left;
}

label {
  text-align: left;
  box-sizing: border-box;
}

textarea {
  height: auto;
  width: 98%;
  padding: 1%;
  border: none;
}

.submit-food-form .input-block label {
  display: block;
  margin: 0;
  font-weight: 300;
  z-index: 1;
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  width: 100%;
  box-sizing: border-box;
}

.submit-food-form .input-block .form-control {
  background-color: transparent;
  padding: 0;
  border: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: auto;
  position: relative;
  z-index: 2;
  font-size: 18px;
  color: #333;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: #333;
  background: transparent;
  border: none;
  font-size: 18px;
  z-index: 2;
}

.submit-food-form .input-block .form-control:focus label {
  top: 0;
}
.submit-food-form .square-button {
  font-family: "Questrial", "Helvetica Neue", Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 60px;
  height: 60px;
  border: none;
  width: 100%;
}
.submit-food-form .square-button:hover,
.submit-food-form .square-button:focus {
  background-color: white;
}

@media (min-width: 768px) {
  .contact-wrap {
    width: 60%;
    margin: auto;
  }
}

body {
  font-family: "Questrial", "Helvetica Neue", Arial, sans-serif;
  background-size: 100%;
  background-repeat: repeat-x;
  font-family: "Roboto", sans-serif;
}

.contact-wrap {
  padding: 15px;
  margin-bottom: 50px;
}

h1 {
  font-family: "Questrial", "Helvetica Neue", Arial, sans-serif;
  background-color: white;
  color: #ff7c62;
  padding: 40px;
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.form-food {
  background: linear-gradient(#f7cdee, #7d9ffe);
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
}
