*, *:before, *:after {
    box-sizing: border-box !important;
  }
  body {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    background: #e9e9e9;
  }
  h1, h2, h3, h4, h5, h6, p, span {
    color: #666;
  }
  hr {
    margin: 0;
  }
  .container-fluid {
    max-width: 1400px;
  }
  [class^="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .featured-wrapper .featured-item {
    margin-bottom: 20px;
    background: white;
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
  }
  .featured-wrapper .featured-item.featured-small {
    height: 100%;
  }
  .card {
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 40px;
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
  }
  .card .caption {
    padding: 15px;
  }
  .card .map {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
  }
  .masonry {
    columns: 3;
    column-gap: 20px;
  }
  @media (max-width: 990px) {
    .masonry {
      columns: 2;
    }
  }
  @media (max-width: 560px) {
    .masonry {
      columns: 1;
    }
  }
  .masonry .card {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    padding-bottom: 20px;
    /*IE9 Fallbacks*/
    width: 50% \9;
    float: left\9;
    padding-left: 10px \9;
    padding-right: 10px \9;
  }
  .masonry .card:nth-child(2n+1) {
    clear: both\9;
  }
  .masonry .masonry-item {
    display: inline-block;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(10, 10, 10, 0.2);
    background: white;
  }
  

  