.feed-wrapper {
  background: linear-gradient(#f7cdee, #7d9ffe);
}
.page {
  background: linear-gradient(#7d9ffe, #f7cdee);
  height: 5000pt;
}

.tags-box {
  width: 100%;
}

.tag-inputs {
  display: block;
  flex-wrap: wrap;
  white-space: nowrap;
  overflow: auto;
}

.tag-checkbox {
  padding: 15pt;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  display: inline-block;
  color: white;
}

/* .SearchImprovementsBar-InnerScrollContainer {
  margin-bottom: -17px;
  -ms-overflow-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 17px;
} */
